* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.top-part {
    background-color: #1f2937;
    border:red solid;
}
.nav-bar {
    width: 80%;
    margin: 0 auto;
    border: green solid;
}

.nav-bar-container ul{
    display: flex;
}

.header-logo {
    display: flex;
    flex-grow: 1;
}

.links {
    display: flex;
    margin-left: 15px;
}

.header-left-right-container {
    border: solid blue;
    width: 80%;
    margin: 0 auto;
}