* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top-part {
    background-color: #1f2937;
    height: 25vh;
}
.nav-bar {
    margin: 0 auto;
    width: 80%;
}

.nav-bar-container ul{
    display: flex;
}

.header-logo {
    display: flex;
    flex-grow: 1;
    margin: 5px;
    color: #f9faf8;
    font-size: 24px;
}

.links {
    display: flex;
    margin-left: 15px;
    margin: 5px 0;
    margin-left: 10px;
    font-size: 18px;
    color: #e5e7eb;
}

.header-left-right-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.img-box {
    max-width: 100%;
    width: 80%;
    height: 155px;
    background-color: rgb(160, 166, 172);
}

.header-right-side-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.header-left-side-container h1 {
    width: 60%;
    font-size: 28px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: 5px;
}

.header-left-right-container p {
    width: 85%;
}
.header-left-side-container {
    width: 50%;
}
.sign-up-bttn {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    width: 65px;
    height: 25px;
    border: 0;
    border-radius: 3px;
}
.top-middle-part {
    height: 24vh;
}
.top-middle-part h3{
    text-align: center;
}
.square-container {
    width: 100px;
    height: 80px;
    border: rgb(101, 101, 252) solid;
    border-radius: 5%;
}
.square-container-caption {
    width: 110px;
}
.top-middle-part-list-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.bottom-middle-part {
    background-color: #e5e7eb;
    height: 24vh;
    display: flex;
    align-items: center;
}
.bottom-middle-part blockquote {
    font-style: italic;
}
.bottom-middle-part cite {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
.bottom-middle-container {
    width: 60%;
    margin: 0 auto;
}
.bottom-part-container {
    background-color: #3882F6;
    width: 80%;
    margin: 0 auto;
    height: 120px;
    border-radius: 5px;
}
.bottom-part {
    height: 24vh;
    display: flex;
    align-items: center;
}
.bottom-part button {
    border: white solid thin;
}
